version: '3.8'

services:

  auth-service:
    build: 
      context: ./auth-service
      dockerfile: Dockerfile.dev
    volumes:
      - ./auth-service:/app
      - ./.m2cache:/root/.m2
    command: ["mvn", "spring-boot:run"]
    ports: 
      - "8081:8081"

  customer-management-service:
    build: 
      context: ./customer-management-service 
      dockerfile: Dockerfile.dev
    volumes:
      - ./customer-management-service:/app
      - ./.m2cache:/root/.m2
    command: ["mvn", "spring-boot:run"]
    ports: 
      - "8082:8082"

  payment-processor-service:
    build: 
      context: ./payment-processor-service
      dockerfile: Dockerfile.dev
    volumes:
      - ./payment-processor-service:/app
      - ./.m2cache:/root/.m2
    command: ["mvn", "spring-boot:run"]
    ports: 
      - "8083:8083"
  
  tuition-service:
    build: 
      context: ./tuition-service 
      dockerfile: Dockerfile.dev
    volumes:
      - ./tuition-service:/app
      - ./.m2cache:/root/.m2
    command: ["mvn", "spring-boot:run"]
    ports: 
      - "8084:8084"

  redis:
    image: redis:7-alpine
    container_name: redis_cache
    ports:
      - "6379:6379"

  otp-service:
    build: 
      context: ./otp-service
      dockerfile: Dockerfile.dev
    volumes:
      - ./otp-service:/app
      - ./.m2cache:/root/.m2
    command: ["mvn", "spring-boot:run"]
    ports: 
      - "8085:8085"
    depends_on:
      - redis
    environment:
      SPRING_DATA_REDIS_HOST: redis 
      SPRING_DATA_REDIS_PORT: 6379
      SERVER_PORT: 8085

  